@model RpaData.Models.tblCertificates

@{
    ViewData["Title"] = "Certificates";
}

<h1>@ViewData["Title"]</h1>
<div class="card ">
    <div class="card-header">
        <h4>tblCertificates</h4>
    </div>
    <div class="card-body">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="tblPharmacistsId" class="control-label"></label>
                        <select asp-for="tblPharmacistsId" class="form-control" asp-items="ViewBag.tblPharmacistsId"></select>
                        <span asp-validation-for="tblPharmacistsId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventId" class="control-label"></label>
                        <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                        <span asp-validation-for="EventId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventPoints" class="control-label"></label>
                        <input asp-for="EventPoints" class="form-control" />
                        <span asp-validation-for="EventPoints" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CertificateDate" class="control-label"></label>
                        <input asp-for="CertificateDate" class="form-control" />
                        <span asp-validation-for="CertificateDate" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Created" />

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>


