@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <span>Email Confirmation</span>
            <h2>Email Confirmation</h2>
        </div>
        <div class="info">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center">Email Confirmation Success.</h2>
                   <p class="text-center"> Your Email has been confirmed successfully.</p>
                    <hr class="my-4">
                    <div class="form-group text-center">
                        <p>
                            <a asp-page="./Login">Go to Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>