
@{
    ViewData["Title"] = "Create";
}
@using RpaData.Models
@model UserModel

<h1>Create User</h1>
<div class="card ">
    <div class="card-header">
    </div>
    <div class="card-body">
        
        <div asp-validation-summary="All" class="text-danger"></div>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="firstName"></label>
                        <input asp-for="firstName" class="form-control" />
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="lastName"></label>
                        <input asp-for="lastName" class="form-control" />
                        <span asp-validation-for="lastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="dateOfBirth"></label>
                        <input asp-for="dateOfBirth" class="form-control" />
                        <span asp-validation-for="dateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="gender"></label>
                        <input asp-for="gender" class="form-control" />
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Roles" class="control-label"></label>
                        <select asp-for="Roles" class="form-control" asp-items="ViewBag.Roles"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RpaNumber"></label>
                        <input asp-for="RpaNumber" class="form-control" />
                        <span asp-validation-for="RpaNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>
</div>