@model RpaData.Models.tblInvoices
@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="card ">
    <div class="card-header">
        <h4>Edit</h4>
    </div>
    <div class="card-body">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit"   enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvoiceTypeId" class="control-label"></label>
                        <select asp-for="InvoiceTypeId" class="form-control" asp-items="ViewBag.InvoiceTypeId"></select>
                        <span asp-validation-for="InvoiceTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DueDate" class="control-label"></label>
                        <input asp-for="DueDate" class="form-control" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InvoiceComment" class="control-label"></label>
                        <textarea asp-for="InvoiceComment" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="InvoiceComment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoiceAttachment" class="control-label"></label>
                        <input asp-for="invoiceAttachment" class="form-control" type="file" />
                        <span asp-validation-for="invoiceAttachment" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Created" />

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="card-footer">
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>

