@model RpaData.Models.tblCodes

@{
    ViewData["Title"] = "Codes";
}

<h1>@ViewData["Title"]</h1>

<h4>tblCodes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeName" class="control-label"></label>
                <input asp-for="CodeName" class="form-control" />
                <span asp-validation-for="CodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeEntity" class="control-label"></label>
                <input asp-for="CodeEntity" class="form-control" />
                <span asp-validation-for="CodeEntity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Created" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

