
@{
    //ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <!-- <h4 class=""><a href="index.html">Rpa</a></h4> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo mr-auto"><img src="~/assets/img/rpalogo.png" alt="" class="img-fluid"> RPA</a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

        <a href="Identity/Account/Login" class="get-started-btn scrollto">Log In</a>
        <a href="Identity/Account/Register" class="get-started-btn-end scrollto">Sign Up</a>

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Promoting the practice of community pharmacy</h1>
                <h2>Promoting public health through provision of pharmaceutical care</h2>
                <div class="d-flex">
                    <a href="Identity/Account/Login" class="btn-get-started scrollto">Go to Login</a>                   
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/img/1.jpg" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <hr />
            <div class="section-title">

                <span>About Us</span>
                <h2>About Us</h2>
                <p>
                    About our Association
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/img/capsules-cure-drug-health-wallpaper-preview.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">

                    <p>
                        <h5>MISSION STATEMENT</h5>
                        <ul>
                            <li>
                                <i class="icofont-check-circled"></i>To be the strongest and most influential association in the promotion of public health
                                through provision of pharmaceutical care to patients under the community pharmacy practice setting
                            </li>
                        </ul>

                    </p>
                    <p>
                        <h5>VISION STATEMENT</h5>
                        <ul>
                            <li> <i class="icofont-check-circled"></i>To be the most recognized and vibrant association in promoting the practice of community pharmacy</li>
                        </ul>

                    </p>
                    <p>
                        <h5>VALUES</h5>
                        <ul>
                            <li><i class="icofont-check-circled"></i>Professionalism</li>
                            <li><i class="icofont-check-circled"></i>Reliability</li>
                            <li><i class="icofont-check-circled"></i>Integrity</li>
                            <li><i class="icofont-check-circled"></i>Commitment</li>
                            <li><i class="icofont-check-circled"></i>Innovation</li>
                        </ul>
                    </p>
                </div>
            </div>
            <hr />
            <div class="section-title">
                <span>Membership</span>
                <h2>Membership</h2>
                <p>
                    Our members are pharmacists working in community pharmacies and the community pharmacy businesses. For one to be a member they must be a
                    qualified pharmacist registered with a recognized regulatory body or in case of students, they must be studying Pharmacy at a recognized institution of higher learning.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center">
                        MEMBERSHIP CATEGORIES <br />
                    </h5>
                    <ul>
                        <li><i class="icofont-check-circled"></i>Ordinary member</li>
                        <li><i class="icofont-check-circled"></i>Pharmacist member</li>
                        <li><i class="icofont-check-circled"></i>Affiliate member</li>
                        <li><i class="icofont-check-circled"></i>Honorary Life member</li>
                        <li><i class="icofont-check-circled"></i>Student member</li>
                    </ul>

                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center">HOW TO BECOME A  MEMBER</h5>
                    <ul>
                        <li><i class="icofont-check-circled"></i>One has to apply to become a member in a manner prescribed by the association from time to time</li>
                        <li><i class="icofont-check-circled"></i>After application, one has to pay the prescribed membership fee depending on the type of membership</li>
                        <li><i class="icofont-check-circled"></i>The application is reviewed by the committee through its relevant organs</li>
                        <li><i class="icofont-check-circled"></i>If approved, the applicant is advised accordingly by the Secretariat and issued with a membership certificate as well as the constitution of the association</li>
                        <li><i class="icofont-check-circled"></i>The new member is then inducted into the association</li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="section-title">
                <span>Governance</span>
                <h2>Governance</h2>
                <p>
                    How our association is governed
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center">
                        BOARD OF TRUSTEES
                    </h5>
                    <p>
                        The association has a board of trustees which is made up of no more than 7 members. Currently there are 3 trustees.
                    </p>

                </div>
                <div class="col-lg-4 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center">EXECUTIVE COMMITTEE</h5>
                    <ul>
                        <li><i class="icofont-check-circled"></i>The head of the association is the Chairperson</li>
                        <li><i class="icofont-check-circled"></i>Deputized by the Vice Chairperson</li>
                        <li><i class="icofont-check-circled"></i>The Secretariat is headed by the Secretary</li>
                        <li><i class="icofont-check-circled"></i>Deputized by the Assistant Secretary</li>
                        <li><i class="icofont-check-circled"></i>The association's finance department is headed by the Treasurer </li>
                    </ul>
                </div>
                <div class="col-lg-4 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center">EX-OFFICIO COMMITTEE</h5>
                    <ul>
                        <li><i class="icofont-check-circled"></i>The Immediate Past Chairperson (who will be in committee for 1 year)</li>
                        <li><i class="icofont-check-circled"></i>The two representatives of the association to the Pharmacists Council of Zimbabwe</li>
                    </ul>
                </div>
                <div class="col-lg-4 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center"> COMMITTEE MEMBERS</h5>
                    <ul>
                        <li><i class="icofont-check-circled"></i>Two committee members</li>
                    </ul>
                </div>
                <div class="col-lg-4 pt-4 pt-lg-0 content text-center">
                    <h5 class="text-center">SUB-COMMITTEES</h5>

                    <ul>
                        <li><i class="icofont-check-circled"></i>Recategorization sub-committee</li>
                        <li><i class="icofont-check-circled"></i>Bulk-Section 75 sub-committee</li>
                        <li><i class="icofont-check-circled"></i>Tariffs sub-committee</li>
                        <li><i class="icofont-check-circled"></i>National Employment Council sub-committee</li>
                        <li><i class="icofont-check-circled"></i>Pharmacy Staff sub-committee </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <span>Membership</span>
                <h2>Membership</h2>
                <p>Our members are pharmacists working in community pharmacies and the community pharmacy businesses. For one to be a member they must be a 
                qualified pharmacist registered with a recognized regulatory body or in case of students, they must be studying Pharmacy at a recognized institution of higher learning. </p>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Cta Section ======= -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Contact</span>
                <h2>Contact</h2>
                <p>Please contact using the following details</p>
            </div>

            <div class="row">

                <div class="col-lg-12 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>145 Fife Avenue Harare</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>
                                secretary@rpa.co.zw <br />
                                rpasecretaryzw@gmail.com <br />
                                chairperson@rpa.co.zw <br />
                                rpachairperson@gmail.com
                            </p>
                        </div>

                                            </div>

                </div>



            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Retail Pharmacist Association</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
           
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>