@model RpaData.Models.tblCommunication

@{
    ViewData["Title"] = "Communications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>


<div class="card ">
    <div class="card-header">
        <h4>Create</h4>
    </div>
    <div class="card-body">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit"   enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MessageDate" class="control-label"></label>
                        <input asp-for="MessageDate" class="form-control" />
                        <span asp-validation-for="MessageDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label"></label>
                        <textarea asp-for="Message" class="form-control" rows="15"> </textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="communicationAttachment" class="control-label"></label>
                        <input asp-for="communicationAttachment" class="form-control"  type="file"/> 
                        <span asp-validation-for="communicationAttachment" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Created" />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="card-footer">
            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>

