
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model string

<h1>Create a Role</h1>
<div class="card ">
    <div class="card-header">
    </div>
    <div class="card-body">
        
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>
</div>
