<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using RpaData.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail Pharmacists Association</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/adminlte.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-ui-1.10.2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="~/js/site.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-success navbar-dark">
            <div class="container">
                <a href="" class="navbar-brand">
                    <img src="~/assets/img/rpalogo.png" alt="Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">RPA</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Client" asp-controller="Events" asp-action="Index">Meetings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Client" asp-controller="Invoices" asp-action="Index">Invoices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Client" asp-controller="Payments" asp-action="Index">Payments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Client" asp-controller="Resources" asp-action="Index">Resources</a>
                        </li>
                    </ul>


                    <!-- Right navbar links -->
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        <li class="nav-item">
                            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link btn btn-success">@(User.FindFirst("FullName").Value)</a>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-success my-2 my-sm-0">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Header -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <section class="content">
                    <div class="container">
                        @RenderBody()
                     </div>
                </section>
            </div>
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.5
            </div>
            <strong>Copyright &copy;  <a href="http://mopane.co.zw">Mopane Systems</a>.</strong> All rights
            reserved.
        </footer>

        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    </div>

    <!-- Vendor JS Files -->

    <script src="~/js/jquery-ui-1.10.2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/buttons.flash.js"></script>
    <script src="~/js/buttons.html5.js"></script>
    <script src="~/js/buttons.print.js"></script>
    <script src="~/js/print.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            var selected = [];
            $('#example1').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "order": [[0, "desc"]]
            })
            $('#example2').DataTable({
                "order": [[0, "desc"]],
                'ordering': true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": true
                    },
                    {
                        "targets": [1],
                        "visible": true,
                        "searchable": true,
                        'ordering': false,
                    }
                ]
            })
            $('#example3').DataTable();
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
